[2016-01-06 12:30] svineet opened #5 "Use config file instead of long command line arguments"
An argument like `--config=config.conf` would be great, the commands become really long with all the settings.

[2016-01-07 07:45] unhammer commented on #5
re: https://github.com/goavki/apertium-html-tools/pull/35#issuecomment-169465753 if there's a conf file, I'd prefer if it accepted all the switches. But if a switch is given explicitly, it overrides any conf file setting.

[2016-01-07 07:55] jonorthwash commented on #5
It seems that currently both are being accepted, per https://github.com/goavki/apertium-html-tools/pull/35#issuecomment-169306972 ?  Or is the referenced `config.conf` the one for html-tools?

[2016-01-07 09:04] svineet commented on #5
No, the config file is for html tools, so that it can know the site key.
The site key is the public secret for recaptcha used to render the widget.
There is no config file option for apy, instead command line options for
wiki credentials and the recaptcha secret used to verify users.

On Thu, Jan 7, 2016, 1:25 PM Jonathan Washington <notifications@github.com>
wrote:

[2016-01-07 09:16] jonorthwash commented on #5
Ah, that seems reasonable then.  Could you then clarify your comment from before, to make it clear that it's `config.conf` for html-tools?

[2016-01-13 13:14] unhammer opened #8 "python3.5 no longer likes raise StopIteration from generators"
https://docs.python.org/3/whatsnew/3.5.html#pep-479-change-stopiteration-handling-inside-generators

https://github.com/goavki/apertium-apy/commit/324a185bd71710f3b0c36db4613350f1fa921830 changed the return from generator into raise StopIteration to make it compatible with older python3's, but this makes it incompatible with 3.5 and newer, see https://travis-ci.org/goavki/apertium-apy/jobs/1020923

[2016-02-09 16:30] unhammer commented on #8
Fixed by putting the StopIteration version in translation_py32.py, a8cad4808b4306cfe49b1c0de91f5374b92cdf8d

[2016-02-09 16:30] #8 closed

[2016-02-09 16:31] unhammer opened #12 "make a swagger spec"
Useful for testing: https://phabricator.wikimedia.org/T108798#2011440

More examples: http://petstore.swagger.io/ / http://petstore.swagger.io/v2/swagger.json

[2016-02-11 07:55] kartikm opened #13 "ChangeLog"
Wikimedia Foundation is using apertium-apy in production environment (Thanks for all help!). It will be great to have ChangeLog or Summary on what has been changed between two releases.

[2016-02-11 08:30] unhammer commented on #13
What revision are you running there?

[2016-02-11 08:47] kartikm commented on #13
0.1+svn~61425

[2016-02-11 09:27] #13 closed

[2016-02-11 09:43] kartikm commented on #13
Thanks!

[2016-04-03 07:04] unhammer opened #14 "bool sent to getPipeline instead of pair somewhere"
[code]

[2016-04-03 09:24] #14 closed

[2016-04-20 12:14] unhammer opened #15 "friendlier 400 msgs"
http://apy.projectjj.com/beta/translate?langpair=ita gives `{"code": 400, "message": "Bad Request", "status": "error", "explanation": ""}` which isn't much of an explanation

[2016-05-03 07:54] unhammer opened #17 "Does flushing some times get "out of sync"?"
failing sanity-tests run about one hour apart give

[code]

as if the output of sending "per" into apy's cat-fra was from the input of an earlier request.

(That seems quite bad)

[2016-05-27 15:41] ghost opened #19 "Local variable possibly mixed up with class' data attribute"
Local variable "serverlist" is possibly mixed up with class' data attribute on line 184 in gateway.py.

[2016-05-27 15:55] unhammer commented on #19
gateway.py might need a complete rewrite; I don't know if it was ever completed (anyone tried it?)

[2016-05-28 08:09] Putti commented on #12
I'd love to try implementing this feature!

[2016-05-28 09:24] unhammer commented on #12
feel free :)

[2016-05-28 22:11] Putti commented on #12
Here is an initial swagger specification for the API: [swagger.yaml.txt](https://github.com/goavki/apertium-apy/files/288024/swagger.yaml.txt). [Swagger editor](http://editor.swagger.io) can be used to preview it as HTML. What do you think?

The following things still need to be done/figured out:
- How to represent objects like this in JSON/SWAGGER scheme: {"eng-spa": 8} ? Now they are just replac

[2016-05-28 22:42] Putti opened #22 "Debian package"
It would be great if we could have a deb package for installing apertium apy.

[2016-05-28 22:46] TinoDidriksen commented on #22
There is one, https://packages.debian.org/search?keywords=apertium-apy and https://anonscm.debian.org/cgit/debian-science/packages/apertium-apy.git/

[2016-05-29 06:56] Putti commented on #22
Awesome! :)

[2016-05-29 12:43] Putti opened #23 "Need of toro.py in the source code"
Could we just delete toro.py from apertium apy source code and add to the wiki instructions to install it with pip or via operating system's package manager? Or is it possible to move completely to tornado's locks so that we wouldn't even need toro?

[2016-05-29 12:45] unhammer commented on #23
toro.py is there for people who can't use the new tornado.
[code]

[2016-05-29 12:45] #23 closed

[2016-05-29 12:45] #22 closed

[2016-05-29 12:47] unhammer commented on #12
Wow, great work :) I'll have to check it out in detail later, but looks promising

[2016-05-29 13:04] Putti commented on #23
What about installing it via pip / distro's package manager? The user will have it then in one place as a shared module and so she/he wouldn't need to fill so much space (as it would take so much space...) in the mass storage device! :D

[2016-05-29 18:47] unhammer commented on #23
We originally assumed users would pip install toro.py, but that was a problem for using APY on wikimedia's servers, because they want only stuff they can install as .deb's, understandably. So since toro.py is *tiny* and self-contained, we just put it in APY.

If toro existed in distro package managers, all would be peacy, but toro *became* tornado 4.2's locks, so no one's going to package it becau

[2016-05-30 07:56] unhammer commented on #12
The js type is "object", so that seems right, but I think they need something like
[code]
The keys of json objects are always string types, but it'd be nice to say that they also correspond to some list. I couldn't find anything in the docs about that though, so this might be as good as it gets for now.

[2016-05-30 07:58] unhammer commented on #12
I'd prefer one file.

[2016-05-30 07:58] unhammer commented on #12
What is a SingleTranslation vs a Translation?

[2016-05-30 08:26] Putti commented on #12
SingleTranslation was supposed to be for /perWord action's return value with the mode "translate" and the other one is for  /translate but now I see that /perWord can return objects like `{"translate": ["ligero<adj>"], "input": "light", "morph": ["light<n><sg>", "light<adj><sint>", "light<vblex><inf>", "light<vblex><pres>"]}` and so those Single* things aren't correct and should be removed.

Okay,

[2016-05-30 11:01] Putti commented on #12
Swagger/OpenAPI specification doesn't currently allow multiple different response schemes for the same response code: https://github.com/OAI/OpenAPI-Specification/issues/270. That's is a problem for us:

[code]

modes "analysers", "generators" and "taggers" all give the same type of response but the mode "pairs" doesn't. Mode "pairs" gives the thing in definitions -> LanguagePairs and the other on

[2016-05-30 12:51] unhammer commented on #12
Hm, I actually don't like that /list returns different types. This looks like something that should be fixed in the server.

If Swagger/OpenAPI allows optional keys, then I'd prefer the format of listPairs, but with a third optional key, like

[code]
or, for an analyser like "cat-morph":
[code]
(where targetLanguage/mode are the optional keys).

If Swagger doesn't allow optional keys, perhaps let

[2016-05-31 19:14] unhammer opened #24 "keep track of all flushing-processes started in apy?"
(moved from https://sourceforge.net/p/apertium/tickets/78/ )

Currently, we only keep track of the pids of the "ends" of flushing pipelines (inpipe, outpipe), not the whole group.

If part of a language pair pipeline crashes on startup, the rest of the pipeline may simply hang (and leave the request hanging). Of course this might mean there's a serious bug in the core tools (or language data was c

[2016-06-02 08:38] unhammer opened #25 "Support for translation memories"
Re: https://www.mediawiki.org/w/index.php?title=Topic:T13rue5gsz3gjqrx&topic_showPostId=t13w8lgm4bxsxk3w&fromnotif=1#flow-post-t13w8lgm4bxsxk3w
it'd be cool to support TMX-files as with the -m option in Apertium, and even cooler if we could integrate https://github.com/goavki/patcher

[2016-07-07 09:39] Putti commented on #12
I will continue editing the specification now (been traveling, computer broke etc.). Hopefully will get something almost production ready at the end of this week.

[2016-07-07 19:07] ghost opened #26 "/list?q=pairs return data differs from rest of the modes"
/list?q=pairs return data differs from rest of the modes. It produces:

[code]

and the rest are like:

[code]

Should we just remove the pairs mode from /list and have only /listPairs?

[2016-07-07 19:08] sushain97 commented on #26
No. This is to maintain compatibility with ScaleMT.
On Jul 7, 2016 12:07 PM, "Joonas Kylmälä" <notifications@github.com> wrote:

[2016-07-07 19:11] Putti commented on #26
Okay. Hmm, we have this problem in issue #12 that the specification tool doesn't allow us to return different data types. What do we do with it? Should we just remove it from spec and have it as deprecated?

[2016-07-07 19:14] Putti commented on #26
Couldn't we also change the ScaleMT to work with these changes?

[2016-07-08 08:08] unhammer commented on #26
(reposting from IRC to keep everything in one place):

Agreed, let's just keep `q=pairs  out of the spec for now.

[2016-07-08 08:09] unhammer commented on #26
I just had a look at http://wiki.apertium.org/wiki/Apertium_scalable_service#API_Specification and it seems it's `listPairs` that's from ScaleMT, while `list?q=pairs` is something that's pure Apy.

I'm actually in favour of having the ScaleMT-like structure everywhere, ie. `/list?q=analyzers` should also return
`{"responseStatus": 200, "responseData": …, "responseDetails": null}`.

Unfortunately,

[2016-07-08 15:00] Putti commented on #12
Just as a note here: when https://github.com/swagger-api/swagger-ui/issues/1248 gets solved we can use:

[code]

as /list's return data model. Meanwhile we need to implement some workaround.

[2016-07-08 17:37] Putti commented on #12
Another note:

https://github.com/Yelp/swagger_spec_validator/issues/50 issue affects Swagger Editor and I'm using it to validate the YAML I'm writing, so there will be this definition "TranslatedDocument" and we need to check it manually (and carefully) that it follows swagger/OpenAPI spec.

[2016-07-08 21:19] ghost opened #27 "Default locale to None"
In in `ListLanguageNamesHandler` in servlet.py should we change the `localeArg = self.get_argument('locale')` to be like `localeArg = self.get_argument('locale', default=None)`? Without the defaulting to None, I don't see why the code `elif 'Accept-Language' in self.request.headers:` is useful (in order to use the header field there still needs to be the "locale" parameter but with no value).

[2016-07-29 13:15] ghost opened #28 "Chained translations"
As discussed in apertium's IRC channel it would be nice to have chained translations, for example Sardinian -> Italian -> Spanish. So some code needs to be done that creates a path which the source text needs to go trough in order to achieve the wanted translation. Also some flag etc. that enables these chained translations.

[2016-08-09 15:16] Putti commented on #12
So I was going to put the swagger spec to under version control but then I realized that the wiki page http://wiki.apertium.org/wiki/Apertium-apy is under GNU Free Documentation License 1.2 and I used some of the descriptions from there. Can we have the swagger spec file in this git repo if it's under that license or do I have create the descriptions myself ? Also, I think most of the api descript

[2016-08-09 20:24] unhammer commented on #12
Nothing in the GPL code requires the swagger spec, so it's not really needed. Also, are the two licenses really incompatible? That sounds odd. But just in case, I hereby license anything I've written as User:Unhammer on http://wiki.apertium.org under GPL version 2 or later.

[2016-08-10 03:49] sushain97 commented on #12
I as well license anything I've written as User:Sushain on
http://wiki.apertium.org under GPL version 2 or later.

--
Sushain K. Cherivirala
www.skc.name

On Tue, Aug 9, 2016 at 1:24 PM, Kevin Brubeck Unhammer <
notifications@github.com> wrote:

[2016-09-30 06:42] unhammer opened #32 "log (full) failed requests to file"
We might want to log all failing requests, e.g. 500's and such, to a file. The GET requests just go to output by tornado (collected by journald), but not POST.

[2016-11-05 07:53] unhammer opened #33 "formatter param to /translate"
e.g. to specify rehtml vs rehtml-noent

[2016-11-27 21:36] jonorthwash commented on #5
Current status of this issue: PR #7 needs to have conflicts resolved and be merged.

[2016-12-01 14:03] unhammer opened #34 "langnames calls should be non-blocking"
if getLocalizedLanguages reads from a damaged disk/db, it can block other requests. It should use the same non-blocking yield pattern as translation does.

[2016-12-06 02:39] simonnarang commented on #27
I am working on this for GCI

[2016-12-06 02:46] simonnarang commented on #27
Done

[2016-12-06 05:08] Putti commented on #27
@simonnarang should we change it so? That's the question.

[2016-12-08 17:52] Putti commented on #15
@unhammer check out the pull request that fixes this issue!

[2016-12-09 08:24] #15 closed

[2016-12-19 01:00] shardulc commented on #33
Can I implement this as part of a GCI task? (https://codein.withgoogle.com/dashboard/task-instances/5435330322759680/)

[2016-12-19 01:14] sushain97 commented on #33
Yes.

[2016-12-19 09:24] unhammer commented on #33
wait this is already implemented in a branch

[2016-12-19 09:33] unhammer commented on #33
Could you move your lines 415..427 into a function like `self.getFormat` which returns the pair `(deformat, reformat)`?

[2016-12-20 03:38] shardulc commented on #33
"This is already implemented in master": I'm sorry, what do you mean?
"Could you move your lines ...": done (same PR).

[2016-12-20 07:59] unhammer commented on #33
I wrote this issue before implementing the stuff in
41baa29fc16f9f81a533ed27446547fdcb159217 (and forgot to link the issue
and commit).

Cool, looks mergable :)

[2016-12-25 04:42] sushain97 opened #38 "Multiple q parameters"
@unhammer:

migrated from https://sourceforge.net/p/apertium/tickets/72/.

[2016-12-25 04:55] sushain97 opened #39 "Document translation DOC/XLS/PPT support"
Document translation doesn't currently support the old Windows formats. Perhaps there's a quick Python plugin that we can use to perform a conversion on the fly back and forth. This would be best as an enable-able feature so that the library doesn't have to be installed

migrated from https://sourceforge.net/p/apertium/tickets/7/

[2016-12-25 04:55] sushain97 opened #40 "Document translation limits"
@unhammer:

migrated from https://sourceforge.net/p/apertium/tickets/7/

[2016-12-25 04:55] sushain97 opened #41 "Document translation should spawn processes"
@unhammer:

migrated from https://sourceforge.net/p/apertium/tickets/7/

[2017-01-03 05:47] shardulc commented on #28
I would like to work on this for my [GCI task](https://codein.withgoogle.com/dashboard/task-instances/6239254105554944/). Do I have to find the shortest path between two languages, or should the user specify the path, or both? If I have to find the path, can it be a simple search or should it take into account coverage, accuracy (where can I get this data?), or anything else? Thanks!

[2017-01-03 11:45] Putti commented on #28
Shortest path sounds good as for now there is no easy way to find out which pairs have the best translation quality. Btw, the flag when enabled should then show the possible pairs in /listPairs (maybe differentely than the others if needed).

[2017-01-03 12:02] Putti commented on #28
And for the shortest path algortihm try to find some pre-existing function from standard python library (or some other one we're using) that has that already that implemented.

[2017-01-03 12:33] Putti opened #42 "License"
I didn't see any mention that apertium-apy is gplv3+, does this mean were stuck with gplv3 forever? Maybe those ~12 people who have contributed could be ask individually but that is usually a difficult job.

[2017-01-03 17:59] sushain97 commented on #28
Also, cache the path. The response JSON should indicate that a chained translation occurred and report the path that was taken. Also, it would be nice to have support for langpair being chained, .e.g. "en-es-fr".

[2017-01-03 18:32] Putti commented on #28
I think also that one level of chaining is enough. @shardulc I checked the standard library and it didn't have anything related to graph theory, so you need to implement the shortest path finding yourself. I suggest dijkstra's algorithm. For the graph maybe something like
[code]

[2017-01-03 19:40] shardulc commented on #28
@Putti OK, I will implement it. I was thinking about doing a simple breadth-first search (since the edges in the graph are unweighted) but I will see if Dijkstra's is faster.

@sushain97 Caching can simply be in a dict, right? I assume new language pairs are added very infrequently so that the cached paths do not become 'old'. When you say "support for langpair being chained", do you mean the GET

[2017-01-03 19:47] Putti commented on #28
@shardulc BFS is fine, too.

[2017-01-05 08:00] unhammer commented on #33
right :)

[2017-01-05 08:00] #33 closed

[2017-01-05 18:03] jatinluthra14 commented on #32
Would like to work on this as a GCI task.
Any example where it records GET but not POST will be appreciated.

[2017-01-05 19:09] unhammer commented on #32
`$ curl  'localhost:2737/translate' --data 'langpair=spa|eng&q=yo+tengo+un+perro'`
vs
`$ curl  'localhost:2737/translate?langpair=spa|eng&q=yo+tengo+un+perro'`

[2017-01-05 19:54] jatinluthra14 commented on #32
@unhammer , I think best will be the graylog module. It will be able to log POST requests too
If it's fine and we can give it a try then please tell so I will show it's implementation.

[2017-01-06 09:55] unhammer commented on #32
This feature is not worth adding a new dependency for. If that's the only way to fix it, I'd suggest working on another task for now.

[2017-01-06 17:04] jatinluthra14 commented on #41
I'd like to work on this as a GCI task

[2017-01-06 17:05] sushain97 commented on #41
There is already a task for this :) Search for APy.

On Jan 6, 2017 11:04 AM, "jatinluthra14" <notifications@github.com> wrote:

[2017-01-09 05:42] sushain97 opened #44 "Chained translation accumulates unknown word marks"
e.g.

meow (en->es) *meow
*meow (es->fr) **meow

so

meow (en->fr) **meow

instead of

meow (en->fr) *meow

[2017-01-09 05:43] sushain97 commented on #44
@unhammer ideas?

[2017-01-09 09:46] unhammer commented on #44
I think we'll just have to regex them away (or, into one), like the "remove error marks" thing already does.

(Ideally, lt-proc could switch on-the-fly between marking and non-marking using some stream-signal. I'd rather not start separate pipelines for with and without marks; that sounds like more complex if-then's and memory usage.)

[2017-01-09 15:33] sushain97 commented on #44
@shardulc, could you take care of this? The regex for error marks is already in the APy code iirc.

[2017-01-13 14:23] jatinluthra14 commented on #41
https://github.com/goavki/apertium-apy/pull/45

[2017-01-13 14:23] jatinluthra14 commented on #40
https://github.com/goavki/apertium-apy/pull/46

[2017-01-13 14:26] unhammer commented on #41
@jatinluthra14 can you explain what this fixes?

[2017-01-13 14:27] jatinluthra14 commented on #41
Yes, it uses subprocess to yield processes for translation

[2017-01-13 14:28] unhammer commented on #41
(see comments on the pull)

[2017-01-13 14:48] unhammer commented on #40
@sushain97 I mentioned on irc, we don't need a per-pair list of semaphores. Since we don't keep pipe-processes around when doing doc translation, there's no need to differentiate between them here. So just one global semaphore with however many pipelines we can stomach.

[2017-01-13 15:32] sushain97 commented on #40
Ah! Sounds good. This must have slipped my mind :)

[2017-01-16 19:55] shardulc commented on #44
44783f93 fixes this, and is only a three-line change after #43 is merged.

[2017-01-17 00:29] sushain97 commented on #44
@shardulc there are other unknown word marks other than *, such as #. There should be a regex floating around somewhere in APy or html-tools that is more comprehensive.

[2017-01-17 00:31] shardulc commented on #44
@sushain97 I took the one in that commit directly from [here](https://github.com/goavki/apertium-apy/blob/master/servlet.py#L287), which only has the asterisks. Is a different regex used anywhere?

[2017-01-17 00:39] sushain97 commented on #44
Hm... perhaps not.

https://github.com/goavki/streamparser/blob/master/streamparser.py#L28-L38

[2017-01-17 08:06] unhammer commented on #44
In released pairs, we shouldn't have `#` (if the language data was completely testvoc'd), so I don't think we should worry about those.

[2017-01-17 11:11] #40 closed

[2017-01-17 11:12] unhammer commented on #41
Closed in  dd926c9

[2017-01-17 11:12] #41 closed

[2017-01-17 12:59] unhammer opened #47 "Document translation: detect mime type within python?"
http://stackoverflow.com/a/19682945/69663 gives php code to do it for docx; it'd be nice not having to shell out to mimetype/xdg-mime/file (which have had [security](https://www.freebsd.org/security/advisories/FreeBSD-SA-14:16.file.asc) [issues](https://www.freebsd.org/security/advisories/FreeBSD-SA-14:28.file.asc)). We would only need to check for the 3 or 4 types we accept, and disregard the res

[2017-01-17 13:28] unhammer opened #48 "Document translation not working in Safari?"
Safari users report documents getting back all garbled

![garble](https://cloud.githubusercontent.com/assets/56868/22022170/1d3a1260-dcc1-11e6-8fcb-ad28e27414e9.png)
[tull_test.txt](https://github.com/goavki/apertium-apy/files/711129/tull_test.txt)

[2017-01-17 14:15] unhammer commented on #48
wops, this should be in html-tools

[2017-01-17 14:15] #48 closed

[2017-01-17 17:16] ghost opened #49 "Unused port variable in servlet.py"
servlet.py has this function:
[code]

and there is the ```port``` parameter. It is unused so it could removed.

[2017-01-17 17:22] sushain97 commented on #49
Instead of opening 15 issues like this one and related stylistic issues, we should include a PEP8 linter via Hound/Travis.

[2017-01-24 17:34] unhammer opened #51 "unknown word thing mangles entities"
[code]

gives me e.g.
[code]

– whenever we see an html-entity, it's cut off at the `;` so we don't know what the rest of the word is.

[2017-02-01 12:32] unhammer opened #52 "a little cache for web page translation?"
Some normal pages take up to 30s to translate with the giellatekno pairs.

Maybe we should try having a little
`{ pair : { url : translationOutput } }`
? Just for the slashdot effect where one page gets requested again and again.

Seeing as caching is Hard, we could keep it simple and just empty it when sys.getsizeof > max_url_cache

[2017-02-01 14:28] unhammer opened #53 "Possible to keep pipes open with web page translation?"

[2017-02-01 14:37] unhammer opened #54 "web pages: better response on 404's or bad SSL"
e.g. "https://www.avvir.no" gives `Feb 01 15:34:44 gtweb.uit.no python3[14767]:     ssl.SSLError: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:645)
` in the log, but simply "translation not available" in html-tools.

- [ ] better JSON response from apy
- [ ] have html-tools give that response instead of "translation not available"

[2017-03-12 01:39] sushain97 opened #55 "Include a PEP8 linter via Hound/Travis"
Presumably, this will require fixing a bunch of existing problems, heh.

[2017-03-12 01:39] sushain97 commented on #49
Merge into #55.

[2017-03-12 01:39] #49 closed

[2017-05-21 09:29] unhammer opened #56 "gradual type checking with mypy"
It'd be nice to have some type checking. I just made a [silly mistake](https://github.com/goavki/apertium-apy/commit/988fb1ae9fc2fb1a20acb4e00cf1053c27fee3d6) when renaming a variable (sending the *module* named html into re.sub instead of the html-contents variable …), which a good type checker would've caught right away. Python can't do very good type checking, but at least *some* type checking

[2017-05-22 09:44] unhammer commented on #56
Remaining warnings after 89c44a0:
[code]

[2017-06-20 07:14] share-with-me commented on #54
All the probable and common errors should be handled in the JSON response from APy right?
For instance, error codes, 500, 502, SSL: ... , 400s etc??
I could handle it on the apertium-html-tools interface!

[2017-06-20 07:31] unhammer commented on #54
Yeah, 16b37220b9dd8f8fb33e2ce5c372c199b039ac26 partly does this. APy uses a function `send_error`, e.g. `self.send_error(503, explanation="{} on fetching url: {}".format(response.code, response.error))`

[2017-06-20 07:32] share-with-me commented on #54
Cool! Will start on this :D

[2017-06-25 06:47] share-with-me commented on #54
Um, I am trying to send an error from `apy` to `apertium-html-tools` using `self.send_error()`. I am unable to get it working. I am just adding the line `self.send_error(503, explanation="{} on fetching url: {}".format(response.code, response.error))` and then checking the `JSON`response on frontend. But I am unable to see any. @unhammer , could you help in guiding me what I am doing wrong? I am d

[2017-06-25 10:01] unhammer commented on #54
https://github.com/goavki/apertium-html-tools/commit/16b37220b9dd8f8fb33e2ce5c372c199b039ac26 is one change that does this kind of thing.

Can you show your diff?

[2017-06-25 14:01] share-with-me commented on #54
This is the code snippet: ( I am just trying to propogate an error in the `apy` to `html-tools` which will be caught in the above commit on the frontend as you have said ). I am unable to send a JSON response with this error on the frontend. The above `{}` values are just dummy tho!

[code]

[2017-06-25 18:58] unhammer commented on #54
could you give output from `git diff` instead? Without context, it's hard to know what's going wrong.

[2017-06-28 04:31] share-with-me commented on #54
@unhammer , I have highlighted the part of the code in my file on this [link](https://github.com/share-with-me/apertium-apy/blob/28fcbbbee76f89381d4e742592cadc79a463fef6/servlet.py#L729-L734)

I have uploaded the `git diff` between the `master` and my branch on this [gist](https://gist.github.com/share-with-me/1f62ecb8671df7f85d55039d201d9313)

[2017-06-28 07:24] unhammer commented on #54
didn't know this was pushed ;-) I just tried 28fcbbbee76f89381d4e742592cadc79a463fef6 and
`./servlet.py /usr/share/apertium/` (with apertium-sme-nob installed) and then did ` curl -Ss "http://localhost:2737/translatePage?langpair=sme%7Cnob&markUnknown=no&url=https://avvir.no"` and got back `{"explanation": "2000 on fetching url: ni chal raha bhai", "message": "Service Unavailable", "status": "erro

[2017-06-28 07:28] unhammer commented on #54
But you should probably merge in the stuff from the `giellatekno` branch in APy *first*, since this and related issues have already had some work there.

What we *don't* want from giellatekno:
* the basic_auth / credentials stuff (that's just for a grammar checker that they don't want to be publically testable quite yet)
* the url-xsls / walkGTCorpus stuff (I might remove that from the giellatekno

[2017-06-29 15:06] share-with-me commented on #54
Damn! haha it does work when I do `curl -Ss "http://localhost:2737/translatePage?langpair=sme%7Cnob&markUnknown=no&url=https://avvir.no" ` . Um, what I was asking is, is there a way to send this error with the message as a JSON response to frontend ( will be handled either in the `success` or `failure` of the JSON call?

Currently I am making a function in JSON `error callback`, which is as follow

[2017-06-29 17:59] unhammer commented on #54
https://github.com/goavki/apertium-html-tools/commit/16b37220b9dd8f8fb33e2ce5c372c199b039ac26 is how it's done in the giellatekno branch of html-tools

[2017-06-30 19:33] share-with-me commented on #54
Thanks @unhammer  :D for this.

Um, in the diff `goavki/apertium-html-tools@16b3722`, you have changed `jsonp` to `ajax`. Um, in my code, when I change the function call to `ajax`, I get the `jqXHR.responseJSON` correctly while putting `jsonp` gives an object which has no response value. Um, **is there a reason you changed it?** I wonder why wrapping around from `ajax` to `jsonp` gives errors! Als

[2017-07-01 07:29] unhammer commented on #54
I don't actually know why the original code used that extra dependency`jquery.jsonp-2.4.0.min.js`, since jquery has built-in support for jsonp (see https://api.jquery.com/jQuery.ajax/). I have a feeling we could get rid of `jquery.jsonp-2.4.0.min.js`  altogether and just use the stuff built in to jquery – or what do you think @sushain97 ?

[2017-07-01 07:53] sushain97 commented on #54
I think it might have been needing one of these:

https://github.com/jaubourg/jquery-jsonp#features

I can't remember exactly though... I feel like it may have been error recovery.

[2017-07-01 12:00] share-with-me commented on #54
Hm, I have been trying using `$.jsonp()` instead of `$.ajax()`. I receive `jqXHR.responseJSON` with `ajax` but not with `jsonp`. I am unable to find the cause of this. Following is my code: It works with `ajax` but when I replace it with `jsonp`, it doesn't. ( I have checked across the `callApy` function and my object only has the parameters which are used in that in a `$.jsonp()` call ). With jso

[2017-07-01 16:03] unhammer commented on #54
@share-with-me why not just use `ajax` then?

[2017-07-01 18:44] share-with-me commented on #54
Um, @unhammer , won't using `ajax` affect cross domain requests? As in, if browsers provide `CORS` support, it'd be perfect. But in case it does not, won't `jsonp` help?

[2017-07-02 08:37] unhammer commented on #54
It's the server that has to send the CORS header. And the server is APy (and if APy doesn't send the CORS header, that's a bug that we should fix).

But try it across different domains and verify! (E.g. send use apertium.org's apy or https://gtweb.uit.no/apy instead of localhost in your config.)

[2017-07-03 03:04] sushain97 commented on #54
Well, that's not entirely sufficient. Specifically, IE8:

https://stackoverflow.com/questions/3362474/jquery-ajax-fails-in-ie-on-cross-domain-calls

Do we want to maintain compatibility with IE8? If we want to drop it, then we can remove the dependency with little consequence.

[2017-07-03 06:44] unhammer commented on #54
But does the dependency actually add anything? What does it do differently from calling ajax with datatype jsonp?

[2017-07-03 06:46] sushain97 commented on #54
Found it: https://stackoverflow.com/a/19207855/1266600

[2017-07-03 06:49] unhammer commented on #54
The reason I used jQuery.ajax over jsonp in the first place was that jQuery's built-in method gave me error handling, just like @share-with-me 's example at https://github.com/goavki/apertium-apy/issues/54#issuecomment-312355107 shows. Do we have a reproducible scenario where jsonp.js adds something?

[2017-07-03 07:04] sushain97 commented on #54
Yes. As mentioned in the link, `$.ajax` does not give you HTTP error handling:

![image](https://user-images.githubusercontent.com/4211838/27781560-60eb5eac-5f9c-11e7-88be-622c5378f208.png)

[2017-07-03 07:59] unhammer commented on #54
Aha, I've been testing same-domain (didn't actually need to cross domains for jorgal).

OK, so we need jsonp if we want to support IE8 where js is on a different domain from APy. If they're on the same domain, ajax's jsonp gives error handling (while if the browser is modern, we can use json).

Do we do cross-domain requests for apertium.org? Does turkic?

@share-with-me , does `dataType: "jsonp"`

[2017-07-03 08:02] sushain97 commented on #54
Nope, not at the moment. We used to but no longer do. Regardless, it would be nice to maintain support if we can easily.

It did for me.

[2017-07-03 08:12] unhammer commented on #54
I wasn't able to get the nice error message to show with `jsonp`, but yeah if it's possible it might be worth keeping it in (for as long as IE8 has a non-negligible amount of users; the csv at http://gs.statcounter.com/browser-version-market-share#yearly-2016-2016-bar says 0.62 %; IE6: 0.04 %; IE7: 0.03 %).

On the other hand, I wouldn't prioritise it if we don't actually use cross-domain requests

[2017-07-03 17:37] share-with-me commented on #54
Um, @sushain97 , did it work for you? For me the loader keeps on rotating infinitely!

Me neither :/

Following is the `ajax` call am making!

[code]

[2017-07-03 18:00] sushain97 commented on #54
@share-with-me what domain is the request being executed from? Cross domain won't work with `$.ajax`.

[2017-07-03 18:03] share-with-me commented on #54
@unhammer this is what my `config.conf` file has:

[code]

Should I replace `HTML_URL` with `http://localhost:8080` where my frontend is running?

[2017-07-03 18:57] unhammer commented on #54
Hard to keep ones tongue straight here :-) What won't work is the error callback with $.ajax with dataType:'jsonp' across domains. $.ajax with dataType:'json' should work fine across domains (including the error handler).

![ajaxes](https://user-images.githubusercontent.com/56868/27804996-40df131a-6032-11e7-8083-a96c34be9ef9.png)

[2017-07-04 13:37] share-with-me commented on #54
Woah :D. So if that is the case, can't we remove all occurrences of `$.jsonp()` and replace them  with `$.ajax() with dataType: 'json'`? @unhammer
@sushain97 if yes, will changing `callApy` make sense? as cross-domain was our main concern?

[2017-07-04 17:23] sushain97 commented on #54
I would prefer not to unless it's necessary because as @unhammer has pointed out, it breaks cross-
domain JSONP request error handlers.

[2017-07-04 17:32] share-with-me commented on #54
Oh! so I would use `$.ajax() with dataType:'json'` only for Webpage translation!

[2017-07-04 17:34] sushain97 commented on #54
Sure, if necessary. Have you figured out why `$.jsonp` doesn't work?

[2017-07-04 17:41] share-with-me commented on #54
With, `$.jsonp()`, I do get a `JSON response`, but that is not the same as the one I get with `$.ajax()`. [My comment](https://github.com/goavki/apertium-apy/issues/54#issuecomment-312355107) has the output of the response in console. Thus, code wise, it does work with an output, but I do not get the same response :/ I ll get into depth of it!

[2017-07-04 18:59] unhammer commented on #54
@sushain97, he did write "with dataType: 'json'", which does work cross-domain, but the reason we can't do *that* is because it breaks IE8 …

[2017-07-04 19:00] sushain97 commented on #54
Yes. Let's try again:

I would prefer not to unless it's necessary because as @unhammer has pointed out, it breaks cross-
domain JSONP request error handlers on IE8.

![image](https://user-images.githubusercontent.com/4211838/27840753-865a0110-60c9-11e7-9984-1a5572f5845b.png)

[2017-07-04 19:09] share-with-me commented on #54
Coool! :D . Although I would try to get why no `$.jsonp()`!! I hope workflows don't break much XD

[2017-08-12 16:38] jonorthwash opened #60 "support unicode directly instead of using \u codes"
Currently APy outputs unicode characters using \u codes, e.g. `'{"vblex": ["c\u00f3rrer"], "n": ["cursa"]}' chnages to '{"vblex": ["córrer"], "n": ["cursa"]}'`.

It would be more convenient if it output unicode directly, e.g. `'{"vblex": ["córrer"], "n": ["cursa"]}' chnages to '{"vblex": ["córrer"], "n": ["cursa"]}'`.

[2017-08-12 16:42] sushain97 commented on #60
How are you making the requests? This might be curl not properly decoding.

On Aug 12, 2017 12:38 PM, "Jonathan Washington" <notifications@github.com>
wrote:

[2017-08-12 16:45] jonorthwash commented on #60
@share-with-me ?

[2017-08-12 16:56] TinoDidriksen commented on #60
It's APy outputting \u even when it doesn't need to. It's valid to output \u, but it's just not needed and makes the result harder to read. cURL does not and should not decode it.

We've looked at this before, but Tornado's escape module can't do it.

[2017-08-12 18:15] jonorthwash commented on #60
It should be possible to override/extend Tornado's functions, though I'm not sure that this would be terribly future-proof?

[2017-08-12 18:16] jonorthwash commented on #60
Either that, or we could file an issue with the Tornado folks.

[2017-08-12 18:39] TinoDidriksen commented on #60
The Tornado folks have repeatedly denied requests for customizing escape.json (https://github.com/tornadoweb/tornado/issues/16, https://github.com/tornadoweb/tornado/issues/914, https://github.com/tornadoweb/tornado/issues/1202).

Their reply is to use another module, such as Python's own JSON encoder.

[2017-08-12 19:59] jonorthwash commented on #60
Okay, then the solution is to reimplement how we encode json?  I assume that won't interfere with our ability to continue to use Tornado?

[2017-08-16 16:19] share-with-me commented on #60
@jonorthwash , @sushain97 , apologies for the delayed reply.

I am using:

`curl -Ss "http://localhost:3025/dictionaryLookup?langpair=eng|cat&q=run"`

and the output is as follows:

`{"vblex": ["c\u00f3rrer"], "n": ["cursa"]}` on the CLI.

However, the AJAX call to fetch these values to the frontend parses the unicodes correctly and it gives

`'{"vblex": ["córrer"], "n": ["cursa"]}'`

[2017-08-21 18:18] share-with-me opened #62 "identifyLang handler gives error for url kind of inputs"
I am unsure of what other kind of inputs would fail. I tried `http://facebook.com` as query for `identifyLang` and it gives Internal Server error.

![screenshot from 2017-08-21 23-46-49](https://user-images.githubusercontent.com/8894636/29532521-17acf700-869d-11e7-8036-ce997bb8b421.png)

[2017-08-24 12:59] share-with-me opened #63 "perWord example on Html-tools (and on wiki) fails with bad request error"
![screenshot from 2017-08-24 18-27-54](https://user-images.githubusercontent.com/8894636/29667437-efefdf30-88cb-11e7-81cf-c30f81cad8d1.png)

[2017-08-24 13:00] share-with-me commented on #63
I replaced `en-es` with `eng-spa` and it worked. I am not sure if that is the right way to go about it.

![screenshot from 2017-08-24 18-29-27](https://user-images.githubusercontent.com/8894636/29667503-2a717ef2-88cc-11e7-8e3f-fbd535e3780a.png)

[2017-08-29 17:41] share-with-me opened #64 "calcCoverage example on wiki page fails"
- `getCoverage` may have to be replaced with `calcCoverage`

![screenshot from 2017-08-29 23-09-27](https://user-images.githubusercontent.com/8894636/29835280-09fb0116-8ce1-11e7-8cf8-b6eceaabf3f3.png)

- the example on wiki page fails with `400- bad request` error.

![screenshot from 2017-08-29 23-10-15](https://user-images.githubusercontent.com/8894636/29835345-3e433b28-8ce1-11e7-9b59-56d2cee9075

[2017-08-29 17:42] share-with-me commented on #64
Again, replacing `en-es` with `eng-spa` gives the output.

![screenshot from 2017-08-29 23-10-35](https://user-images.githubusercontent.com/8894636/29835409-6d239550-8ce1-11e7-9c62-45bf0ce3a660.png)

[2017-08-29 17:43] sushain97 commented on #64
It may be that we just don't support ISO 639-3 codes on this newer endpoints.

[2017-08-29 17:47] share-with-me commented on #64
Ohh. I also observed this for `/perWord` handler.

[2017-08-31 15:58] share-with-me opened #65 "Analyze and Generate methods fail on APy URL server"
I tried with 2 requests through APy sandbox. Both of them work in localhost while both of them fail when the server is `https://www.apertium.org/apy` with `400 - Bad request error`. Is it because APy is running some other version of code on the server?

**Fails on APy URL**

![screenshot from 2017-08-31 21-00-31](https://user-images.githubusercontent.com/8894636/29932240-45e44bf0-8e63-11e7-8ecd-6b

[2017-08-31 16:01] sushain97 commented on #65
This really isn't a problem with the APy code. Generation and analysis is
probably disabled or something on the apertium.org API instance. If it
works locally, it doesn't belong here as an issue (generally).

On Aug 31, 2017 11:58 AM, "Monish Godhia" <notifications@github.com> wrote:

[2017-08-31 16:02] #65 closed

[2017-09-17 20:00] danielwalo opened #66 ".(null) when translating HTML-file"
When trying to translate [this file](https://github.com/goavki/apertium-apy/files/1309347/hn.zip) from Norsk Bokmål (nob) to Nynorsk (nno), I only get part of the file back.

[The section I get back](https://github.com/goavki/apertium-apy/files/1309350/hn-back.zip) begins and ends with ".(null)"

Any way to pre-process the file to get around this?

Using https://www.apertium.org/apy/translateDoc?l

[2017-12-27 01:01] Androbin commented on #66
Could it be the file contains some special character at that point?

[2017-12-27 01:03] Androbin commented on #27
@ghost Shall we close this now?

[2017-12-27 01:20] Androbin commented on #42
One should usually be specific when it comes to licenses. See this thought experiment:
https://worldbuilding.stackexchange.com/questions/40613/gplv4-all-our-code-are-belong-to-microoft-how-much-damage-is-done

What you are probably referring to is the strictness of the copyleft clause.

[2017-12-27 01:21] Androbin commented on #42
All current contributors have linked their email (or website) except for @wolfgangth.
But the one file edited in cc47b3a18a6fb1e3477ec6420fe24175985c9141 doesn't even exist anymore.

[2017-12-27 01:24] Androbin commented on #42
@shardulc @sushain97 Not much point in talking to a deleted user.
What are you're thoughts on the matter?

[2017-12-27 01:27] Androbin commented on #12
Is the licensing issue resolved yet? Or are we stuck with #42?

[2017-12-27 01:37] sushain97 commented on #42
The content from it exists in another file.

[2017-12-27 01:42] Androbin commented on #34
@unhammer Which line(s) would get stuck exactly?

[2017-12-27 17:48] Androbin opened #70 "apy / identifyLang returns code 400"
Requests to https://www.apertium.orf/apy/identifyLang produce code 400 errors.

![screenshot](https://user-images.githubusercontent.com/16437156/34388874-8c768274-eb36-11e7-86a6-3fa65eced2ef.png)

[2017-12-27 17:56] sushain97 commented on #70
Hm, I wonder if this is bad request (400) because of no text. Might be. In that case it's not a bug here and is one over in html-tools but for a slightly different reason (shouldn't allow).

[2017-12-27 17:58] Androbin commented on #70
Just tested it, you're right.

[2017-12-27 18:00] sushain97 commented on #70
Cool. Would appreciate it if you could open a new issue over there :) Good catch.

[2017-12-27 18:00] #70 closed

[2017-12-27 22:32] #26 closed

[2017-12-27 22:33] #27 closed

[2017-12-27 22:33] sushain97 commented on #28
This is supported now. Any enhancements/bugs belong in new issues.

[2017-12-27 22:33] #28 closed

[2017-12-27 22:34] sushain97 commented on #63
Yeah, I believe the newer endpoints only support iso639-3 codes on purpose.

[2017-12-27 22:34] #63 closed

[2017-12-27 22:35] #64 closed

[2017-12-27 22:37] sushain97 opened #71 ""Stream is closed" 500 error"
[code]

[2017-12-27 22:48] sushain97 commented on #71
cc @unhammer (I think you've reported this issue before)

@Androbin you could tackle this to make beta.apertium.org work better

[2017-12-28 13:19] danielwalo commented on #66
Probably, but it’s not visible in Notepad, so I can’t tell.

[2017-12-28 18:51] Androbin commented on #66
Can't reproduce when trying to translate from `en` to `es`.
(Of course nonsense, but this shows that it's not a parsing problem etc.)

[2017-12-28 18:54] Androbin commented on #66
Can't reproduce with the following command:
`< hn.htm apertium -f html nob-nno > hh-back.htm`
Could you provide the exact command you used?

[2017-12-28 19:13] danielwalo commented on #66
I was using apy.projectjj.com and www.apertium.org/apy

[2017-12-29 16:36] Androbin commented on #5
Is this issue still up-to-date?

[2017-12-29 19:50] jonorthwash commented on #5
I think so, but you could probably check :)

[2017-12-30 22:44] #56 closed

[2017-12-30 22:48] sushain97 opened #73 "End Python 3.2 support (must cut a release + modify changelog)"
Python 3.2's flake and mypy malfunction. This makes our build process and imports somewhat nasty (introduced in https://github.com/goavki/apertium-apy/pull/69).

Should we stop supporting Py3.2?

cc @unhammer

[2017-12-31 10:00] unhammer commented on #73
What currently supported distros use py3.2?

Also, perhaps Apy is feature-complete enough that we could make a release that's the last one supporting 3.2, bump a major version number and from then on only support 3.3 and higher.

[2017-12-31 10:14] unhammer commented on #71
I can't remember seeing this in a while (and I don't think I've even used chaining …); have you got any idea what sets it off?

[2017-12-31 10:27] unhammer commented on #34
In `ListLanguageNamesHandler`, something like

`self.sendResponse(getLocalizedLanguages(localeArg, self.langNames, languages=languagesArg.split(' ')))`

where `getLocalizedLanguages` might take a lot of time will block all of Apy until `getLocalizedLanguages` has returned.

Compare with `AnalyzeHandler` which does
[code]

where `translateSimple` is also a `@gen.coroutine`.

[2017-12-31 15:17] sushain97 commented on #71
nope

yeah, the chaining is fairly new and untested

[2017-12-31 15:26] sushain97 commented on #73
sushain: TinoDidriksen: “What currently supported distros use py3.2?” any ideas how to find this quickly?
[09:25am] sushain: context is APy
[09:25am] TinoDidriksen: None
[09:25am] sushain: perfect

I concur. Switching around the metadata of this issue.

cc @Androbin

[2017-12-31 15:28] sushain97 commented on #55
This already exists (my bad). The `.flake8` file I added needs to updated with the stuff from the command in `travis.yml` and then Travis should use that instead.

[2017-12-31 15:46] Androbin commented on #73
@sushain97 Ping me when it's okay to remove. Then I can clean up the leftover pieces.

[2017-12-31 15:48] sushain97 commented on #73
It's okay now. The PR would make the changes and update the changelog with
changes since last release including v3.2 deprecation notice. Then, I would
tag the current master and merge your PR.

On Dec 31, 2017 9:46 AM, "Robin Richtsfeld" <notifications@github.com>
wrote:

[2018-01-01 01:48] #5 closed

[2018-01-02 01:02] #73 closed

[2018-01-03 23:50] jonorthwash opened #77 "non-deterministic output on perWord endpoint"
With a single request, we're getting up to three different responses.

This is the request we're using: http://beta.apertium.org/apy/perWord?lang=eng-fra&modes=biltrans&q=hi

Depending on APy's mood, these are the outputs we get:

**Correct output**:
[code]

**Empty output**:
[code]

**Error output**:
[code]

Noticed by @avyayv.

[2018-01-04 04:02] sushain97 commented on #77
Server logs:

[code]

cc @Androbin this is a bug you can look at if you'd like

[2018-01-04 12:05] Androbin commented on #77
What is `Exception in callback None` even supposed to mean?
There is no callback, but it threw an exception?

[2018-01-04 16:56] sushain97 commented on #77
Honestly, I have no idea. It needs some debugging. @unhammer ?

[2018-01-04 19:21] #34 closed

[2018-01-05 09:18] unhammer commented on #77
I don't understand what PerWordHandler does there with the pool and everything – anyone know the intention behind that code? It's not written in the same style as the translation stuff at least (and `processPerWord` is not a `@gen.coroutine`)

[2018-01-05 15:19] Androbin commented on #77
@unhammer This could explain the `AssertionError: daemonic processes are not allowed to have children`

[2018-01-05 15:58] Androbin commented on #77
The `Pool` used reminds me of https://github.com/goavki/apertium-apy/pull/76#discussion_r159638346.

[2018-01-06 01:16] avyayv commented on #77
Now all I seem to get is:
{"explanation": "Internal Server Error", "message": "Internal Server Error", "code": 500, "status": "error"}
I don't get
[{"biltrans": [], "input": "hi"}]
or
[{"biltrans": ["salut<ij>"], "input": "hi"}]
 anymore

[2018-01-06 08:13] jonorthwash commented on #77
Yeah, it only seems to return the other outputs off and on for a while after restart?

[2018-01-07 22:23] sushain97 opened #81 "Tests and coverage"
I think only some of the endpoints are currently tested.

- all the endpoints should be tested
- tests should use standard libraries (in Python)
- coverage stats should be produced
- Travis should enforce coverage
- should test non-blocking nature of the endpoints

[2018-02-06 11:10] danielmartinez opened #83 "Debian package doesn't bring streamparser module"
Hi all,

I was trying to install apertium-apy from nightly debian repo at apertium.projectjj.com, it installs, but when you try to start service it shows:

Feb 06 11:31:26 softaragones python3[8195]: Traceback (most recent call last):
Feb 06 11:31:26 softaragones python3[8195]: File "servlet.py", line 58, in <module>
Feb 06 11:31:26 softaragones python3[8195]: from streamparser.streamparser import

[2018-02-07 02:23] sushain97 commented on #83
I think @TinoDidriksen said he would be taking care of this

[2018-02-07 07:43] TinoDidriksen commented on #83
Yup, tracked in https://github.com/TinoDidriksen/apertium-packaging/issues/2

[2018-02-07 12:38] TinoDidriksen commented on #83
Fixed the submodule issue, but APy doesn't have an installer.

I've added the files to https://github.com/TinoDidriksen/apertium-packaging/blob/master/trunk/apertium-apy/debian/apertium-apy.install which I guess is all that's needed, but an actual installer would be nice.

[2018-02-10 19:07] sushain97 commented on #83
Do you mind opening an issue for that? I'm not exactly sure what an installer means in this context.

[2018-02-10 19:07] #83 closed

[2018-02-10 19:51] TinoDidriksen opened #84 "Installer"
APy should be able to install itself. It already has a Makefile, but there is no install target. Alternatively, add a setup.py.

Some way to run a single command to have APy put itself into $DESTDIR/$prefix in a fully finalized state. Basically, do what `make` + https://github.com/TinoDidriksen/apertium-packaging/blob/master/trunk/apertium-apy/debian/apertium-apy.install does.

The result should b

[2018-02-22 15:36] TheUne commented on #32
Hi @unhammer !

I went through the [detailed documentation](http://wiki.apertium.org/wiki/Apertium-apy#Running_on_init) of setting up `apertium-apy` locally using `systemctl`. I tried reading how `systemd-journald` service picks up the logs but I am not able to find a way to make it work for POST requests.

One solution can be to log at the proxy server abstraction (e.g. nginx) but I believe it wi

[2018-02-22 19:09] unhammer commented on #32
The first step here is figuring out *how* to get the complete POST requests logged at all.

systemd/systemctl is orthogonal to the issue (I just mentioned the journal because it captures everything going to stdout/stderr); we do want apertium-apy itself to be able to log failed POST requests regardless of what they run it through.

It's been long enough since I reported it that I can't remember wh

[2018-03-06 20:16] ftyers opened #85 "French--Catalan not working"
From @TinoDidriksen:

[code]

[2018-03-06 20:25] sushain97 commented on #85
This problem also pops up in many other places...

[2018-03-06 22:19] xavivars commented on #85
APy tries to load apertium-separable with -z, but `lsx-proc`doesn't support that flag. It can easily be checked by using `pipedebug` mode instead of translate (see https://www.apertium.org/apy/pipedebug?q=250%20ans%20d%E2%80%99histoire,%20un%20mod%C3%A8le%20p%C3%A9dagogique%20unique,%20une%20ouverture%20sur%20le%20monde%20avec%20de%20nombreux%20partenariats%20avec%20les%20meilleures%20universit%C3

[2018-03-06 23:02] sushain97 commented on #85
I think translateSimple does that but I haven't looked at the code in a
bit. We would have to hack the handler a bit to use it if it detects
apertium-separable in the pipeline.

On Mar 6, 2018 4:19 PM, "Xavi Ivars" <notifications@github.com> wrote:

[2018-03-07 01:52] sushain97 commented on #85
Aha, I think you can add to https://github.com/apertium/apertium-apy/blob/master/translation.py#L128, @xavivars .

[2018-03-07 06:26] ftyers commented on #85
@xavivars it should be trivial to make -z work, the code is completely based on lttoolbox.

[2018-03-07 06:55] ftyers commented on #85
@unhammer I've added a `-z` option and also `lsx_wrapper_null_flush` to the `FSTProcessor.cc` code, can you think of anything I've missed?

[2018-03-07 08:30] unhammer opened #86 "fix multiple q's"
We used to (?) support multiple q's per query (or maybe scalemt did). People are expecting us to, anyway:

[2018-03-07 08:40] ftyers commented on #86
I redirected [that Wiki page](http://wiki.apertium.org/w/index.php?title=Apertium_scalable_service&oldid=65921) to `apertium-apy`

[2018-03-07 08:40] unhammer commented on #85
Yeah, we used to have more such pairs in that list of things-that-don't-support-nul-flush. Simply adding it there should be a temporary workaround.

[2018-03-07 08:43] unhammer commented on #85
@ftyers that ought to do it … you could cp -r lttoolbox/tests and swap the command in proctest.py line  `Popen(["../lttoolbox/lt-proc"] + self.procflags + [tmpd+"/compiled.bin"]` and add something sensible in `lt_proc/__init__.py` to test NUL-flushing

[2018-03-07 12:51] sushain97 commented on #86
I don't think we ever supported or advertised it.

[2018-03-07 13:03] TinoDidriksen commented on #86
http://wiki.apertium.org/wiki/Apertium-apy says "meant as a drop-in replacement for ScaleMT", and since ScaleMT supports multiple q, so should APy. Or the docs need to change.

http://wiki.apertium.org/wiki/Apertium-apy refers to being drop-in for http://wiki.apertium.org/wiki/ScaleMT which in turns tells people to read the API specification at http://wiki.apertium.org/wiki/Apertium_scalable_servi

[2018-03-07 13:07] sushain97 commented on #86
Indeed. We should support it.

[2018-03-07 23:09] michalpodbielski commented on #86
Multiple q was supported for sure by apertium - we used it in our product (vBET).
It is really important to support it again - without it performance of translation will go down and your serwers will have lot of unnecessary requests (why to make 10 requests when we can make 1 request and get 10 translations - it gives results fasster and serwers do not suffer unnecesary traffic)

[2018-03-10 13:34] scejja opened #87 "cannot translate"
I'm new to apertium-apy. I install this way in ubuntu server xenial (just for english and spanish):

wget http://apertium.projectjj.com/apt/install-nightly.sh
sudo bash install-nightly.sh
sudo apt-get install apertium-apy
sudo apt-get install apertium-en-es
sudo systemctl start apertium-apy.service
sudo systemctl enable apertium-apy.service

The service is running, and with this
`curl http://local

[2018-03-10 15:30] sushain97 commented on #87
What do the APy logs say? I can't help with only the endpoint error details :\

[2018-03-11 12:05] scejja commented on #87
sudo cat /etc/logrotate.d/apertium-apy

/var/log/apertium/apertium-apy.log {
    daily
    copytruncate
    missingok
    compress
    notifempty
    rotate 15
    size 256M
}

File /var/log/apertium/apertium-apy.log does not even exists.

I have seen that this queries have an empty response ({}). Maybe I have to install something more.
curl 'http://localhost:2737/list?q=analyzers'
curl 'http://lo

[2018-03-11 15:16] unhammer commented on #87
`sudo journalctl -fu apertium-apy` should give the apy output.

You could also test that the language pairs work from the command line, e.g. `echo yo | apertium es-en`

[2018-03-11 23:20] scejja commented on #87
$ sudo journalctl -fu apertium-apy

-- Logs begin at lun 2018-03-12 00:02:35 CET. --
mar 12 00:06:19 pc python3[1377]:       File "/usr/share/apertium-apy/translation.py", line 116, in startPipeline
mar 12 00:06:19 pc python3[1377]:         stdout=out_from))
mar 12 00:06:19 pc python3[1377]:       File "/usr/lib/python3/dist-packages/tornado/process.py", line 233, in __init__
mar 12 00:06:19 pc py

[2018-03-12 08:07] unhammer commented on #87
`sudo apt-get install apertium-en-es` *should* have installed lrx-proc, but apparantly didn't, that's a packaging error.

This should be possible to fix with `sudo apt install apertium-lex-tools`.

[2018-03-12 10:26] unhammer opened #88 "`Too many open files` on macos server"
[code]
This is on a server where language data is updated nightly, and pipes are restarted every 200 requests / on 3600 idle secs.

Maybe APy isn't correctly closing files when restarting pipelines?

[2018-03-12 10:30] unhammer commented on #88
Seems `ulimit -n` was 256 on that server, so increasing might help, but restarting APy also helped so it's presumably keeping around too much stuff.

[2018-03-12 12:56] scejja commented on #87
It is working now and ContentTranslation extension of mediawiki too.
Thaks a lot for your help!!

[2018-03-12 12:56] #87 closed

[2018-03-12 14:50] sushain97 commented on #38
Duplicate of #86

[2018-03-12 14:50] #38 closed

[2018-03-12 14:52] #55 closed

[2018-03-13 14:33] roybaer opened #89 "Allow retrieval of descriptive and/or legally relevant information about the APY server"
What I have in mind is something like this:
[code]
A web front-end could then put this information in its privacy statement.

[2018-03-13 19:50] Axle7XStriker commented on #86
Hello, I was working on this issue and have made quite a progress in it but there are some things which are not completely clear to me regarding the batch interface. I wanted to know that if there is some error in any of the translation(s) then what should be the output. It would be great if you could provide the output for both the cases when only some translations are erroneous and when all are.

[2018-03-15 01:41] sushain97 commented on #86
This should just error. I wouldn't bother translating anything.

What do you suggest?

[2018-03-15 09:45] Axle7XStriker commented on #86
I was thinking of the same to just show the error but in the batch interface description it is defined quite differently and no example output is given for the same. That's why I was asking this. The batch interface description is given on the wiki page whose link is given in one of the comments above.

[2018-03-16 03:47] sushain97 commented on #86
Which part of it exactly?

[2018-03-16 03:57] Axle7XStriker commented on #86
I was talking about this part.

[2018-03-16 04:04] sushain97 commented on #86
Indeed. Which part of it is the source of your confusion? It makes sense to me.

[2018-03-16 04:14] Axle7XStriker commented on #86
This is clear to apart from but I was just wondering what should happen in cases when both 'q' parameters and 'langpair' parameter received are of unequal size. For example,  'q' parameters received are 2 and 'langpair' parameter received are 4.

This part is particularly unclear to me since there are no examples provided for the above statement.

[2018-03-16 04:42] sushain97 commented on #86
I think that one of the following behaviors is fine:

- don't return any translations and set the global responseStatus != 200.
- return as many translations as you can match and for the rest responseStatus != 200.

Say you have two translations that fail with responseDetails=A, responseStatus=X and responseDetails=B, responseStatus=Y and one successful with responseDetails=C,responseStatus=200. T

[2018-03-16 04:57] Axle7XStriker commented on #86
Ok I got the first part but for the second part. There are many reasons for a translation to fail like language pair not found and other such problems, but in those cases APy uses the send_error() method of tornado to send the response and there's no mention of responseDetails and responseStatus in those responses. So how can I set the global parameters without those.

[2018-03-16 08:07] unhammer commented on #86
If there is more than one `langpair`, isn't that an error? I interpreted the original as saying "we allow more than one q, which will all be translated with the same langpair".

@michalpodbielski can you verify? Have you ever used more than one langpair-parameter in a request?

[2018-03-21 07:57] michalpodbielski commented on #86
blockquote {padding-left: 1ex; margin: 0px 0px 0px 0.8ex; border-left: #cccccc 1px solid;} p {margin: 0px;padding: 0px;}
I never used more than one langpair in same request.
One request can translate several texts (q) from same langpair.
For new langpair we just send new request. 
 
Dnia Piątek, 16 Marca 2018 09:07 Kevin Brubeck Unhammer <notifications@github.com> napisał(a)

For example, 'q' para

[2018-03-21 08:52] Axle7XStriker commented on #86
So, should I assume that we are supporting multiple q's and only single langpair with each request now. Also what about showing error about which I asked in my previous comment

[2018-03-21 09:06] unhammer commented on #86
I think we should send_error if at least one of the q's is an error, ie. never send a "half-way" complete answer. Errors should be exceptional, we shouldn't expect people to have to deal with them in any other way than sending the whole request over again.

Whether there should be some change in the contents of the send_error response should go in a separate Issue from this one.

[2018-03-22 12:44] unhammer commented on #88
This also happens on oqaa

[2018-03-22 13:20] unhammer commented on #88
What happened after 22c2995 was that a bunch of pipeline restarts would happen in a row. That should not not lead to left-over open files, so there's still a bug.

[2018-03-25 19:20] #81 closed

[2018-03-25 19:22] sushain97 opened #92 "Full strict mypy typing"
Currently there are 300+ errors:

[code]

[2018-03-25 19:23] sushain97 opened #93 "Improved test coverage"
Currently at 22%. As the coverage is increased, so should --fail-under.

coverage details: https://coveralls.io/github/apertium/apertium-apy?branch=master

[2018-03-25 19:23] sushain97 opened #94 "Add concurrency tests"
Right now, none of the test ensure that the endpoints aren't disastrously blocking.

[2018-03-25 19:24] sushain97 opened #95 "Refactor apy.py handlers into multiple files"

[2018-03-27 01:56] sushain97 opened #97 "Hide some modes (pipe debug, translate raw, etc.) under a debug flag"

[2018-03-27 01:57] sushain97 opened #98 "Replace all re streamparsing with streamparser calls"

[2018-03-27 03:34] #95 closed

[2018-03-27 11:02] TinoDidriksen opened #99 "Support Mainline Distro Dependencies"
APy should support a much wider range of dependencies, most important being the ones you can get via apt-get on the various supported distros. PyPi isn't enough: https://github.com/apertium/apertium-apy/pull/91#issuecomment-376473818

E.g., for python3-tornado this means a range of versions in [Debian](https://packages.debian.org/search?keywords=python3-tornado) and [Ubuntu](https://packages.ubunt

[2018-03-27 12:42] sushain97 commented on #99
I don't think it's worth supporting 3.1 and 3.2. 4.2 may be supported in rc2 but I'll need to verify that this evening. If it is, I'll drop the requirements in setup.py and requirements.txt so that CI runs against 4.2. Supporting 5.0 is a separate concern I might have time to look into...

[2018-03-27 15:59] sushain97 commented on #99
Continuing discussion from #91: given that APy completely breaks on Tornado 5.0, the ceiling requirement is here to stay until the issue is fixed in APy. At least this way, PyPi consumers won't get a broken package.

[2018-03-28 00:13] sushain97 commented on #99
Didn't require any changes to fix for 4.2 (xenial). Released on PyPi and tagged as `v0.11.0.rc3`.

[2018-03-28 02:26] sushain97 opened #100 "Split tests into multiple files"
(without bringing the server up and down each time)

[2018-04-01 16:03] sushain97 commented on #99
https://github.com/apertium/apertium-apy/pull/102 may fix 5.0. Waiting for go-ahead from @unhammer.

[2018-04-03 09:34] TinoDidriksen commented on #99
On latest Debian Sid, with `python3-tornado (5.0.0-2)` installed, I get:

[code]

[2018-04-03 13:36] sushain97 commented on #99
Unfortunately, I'm unable to repro the problem.

[2018-04-04 03:54] sushain97 commented on #99
https://github.com/apertium/apertium-apy/issues/84 is now the real problem. Conversation is on IRC regarding it.

[2018-04-04 03:54] #99 closed

[2018-04-05 16:36] sushain97 opened #107 "Better langNames default"
Right now, we get a default of `langNames.db`. However, a `pip install` or Debian install as well now will put it inside `/usr/local/share/apertium-apy`. We should use `pkg_resources` to guess the correct path (and continue supporting running directly from source). Until then, users will just have to feed it the correct path.

cc @TinoDidriksen

[2018-04-05 16:37] TinoDidriksen commented on #107
From .deb and .rpm, that would be `/usr/share/apertium-apy` without local/

[2018-04-05 16:42] sushain97 commented on #107
Hopefully `pkg_resources` is smart enough to give me the right path. It claims to be.

[2018-04-09 20:32] sushain97 commented on #62
Would be fixed by #98.

[2018-04-09 20:37] #84 closed

[2018-06-14 15:20] TinoDidriksen commented on #17
It definitely still happens. Currently getting `swe-nno: expected 'kva', got 'mitt *sdk-baserte tillegg kan ikkje vert oppgradert' (for input: vad)` errors from the hourly selftest.

A solution is to add a nonce to each request sent through the backend pipe. If it doesn't come out with the same nonce, restart that pipe and try again.

[2018-06-17 13:16] sevilaybayatli opened #111 "/perword issue"
hi,
I followed the instructions in this site to install  and work with apertium-apy :http://wiki.apertium.org/wiki/Apertium-apy

sevilay@sevilay-linux:~/engine-code/apertium-apy$ ./servlet.py -p 8080 /home/sevilay/engine-code/
[W 180617 15:57:19 apy:324] Unable to import CLD2, continuing using naive method of language detection
[I 180617 15:57:19 apy:117] 3 generator modes found
[I 180617 15:57:19

[2018-07-12 14:52] kartikm opened #112 "apertium-apy doesn't honor -P / --log-path"
New version of apertium-apy (>= 0.11.3) doesn't honor logging -P / --log-path= anymore

Test case:

mkdir /tmp/apy-log
/usr/bin/apertium-apy -j1 -m300 --daemon --log-path /tmp/apy-log -p 50000 /usr/share/apertium/modes

This prevents logging for service to files. Only stdout is shown.

[2018-07-31 08:05] kartikm commented on #112
@TinoDidriksen Can you look into this?

[2018-07-31 08:14] TinoDidriksen commented on #112
I don't Python much, and I am not knowledgeable of this codebase. So if it's critical: @sushain97 @unhammer

A quick glance at the code looks correct (https://github.com/apertium/apertium-apy/blob/master/apertium_apy/apy.py#L248).

[2018-07-31 09:28] unhammer commented on #112
Seems like @jonorthwash added the lines: https://github.com/apertium/apertium-apy/commit/cf48209eda132ccdf90db2b7cbf8c8501e6fb670
I've never used `--daemon`, and still don't see the point, why not just `>apy.log 2>apy.err`?
(Also, why is an option named --daemon doing --redirect-output-to-log-path?)

[2018-07-31 09:35] TinoDidriksen commented on #112
Redirection is not always an option, so passing filenames helps. But I guess this solves the mystery: `--log-path` is only applicable when `--daemon`

[2018-07-31 14:49] jonorthwash commented on #112
I have no idea anymore what my thinking was when I added the logic for logging.  Please feel free to adjust as makes sense.

[2018-09-06 16:41] sushain97 opened #115 "CSV/TSV source for lang names"
Convert at build time

[2018-09-06 16:46] jonorthwash commented on #115
I don't mind writing sql?

[2018-09-06 16:48] sushain97 commented on #115
But we're not the only one editing these :) I mentioned a couple more
reasons in IRC. (afk for a bit)

On Thu, Sep 6, 2018, 9:47 AM Jonathan Washington <notifications@github.com>
wrote:

[2018-09-06 22:16] sushain97 commented on #115
Pros:
- Better rendering/look on GitHub/editor especially with TSV (subjective, I guess)
- Easier to edit, especially for non-SQL folks
- Easy to force sorting so that dupes are easy to see
- Smaller file size

Cons:
- Somewhat more complex build

[2018-09-21 20:14] #112 closed

[2018-09-21 20:15] sushain97 commented on #112
Do we need a v0.11.4 release for this?

[2018-09-22 03:50] kartikm commented on #112
Release with tarball would be nice!

[2018-09-30 03:14] sushain97 commented on #112
Release it out to PyPi. My apologies for the delay.

[2018-11-03 22:59] sushain97 opened #117 "Switch to pipenv"
See apertium/streamparser#33 for an approach.

[2018-11-08 19:59] #117 closed

[2018-11-08 20:00] sushain97 opened #120 "Upgrade flake8 version and fix extant issues"

[2018-11-15 23:30] milanandreew commented on #120
On it.

[2018-11-16 15:54] milanandreew commented on #120
Yep, here's the PR: https://github.com/apertium/apertium-apy/pull/123

[2018-11-18 17:56] #120 closed

[2018-12-04 06:04] jonorthwash commented on #115
We also probably need to merge `turkic.sql` and `manual.sql`.

Another Pro:
- less confusing when input data is all tsv and output data is all sql.

We should keep a dichotomy between `scraped` and our modifications (whether we call it `manual` or something else).

[2018-12-20 07:43] xavivars commented on #85
For eng-cat the problem was the perceptron tagger, that has been also solved (even if not released yet).

Now both pairs work most of the time, but every few hours, #71 happens, and APy needs to be restarted. Closing this one to focus on #71 instead.

[2018-12-20 07:43] #85 closed

[2018-12-20 07:45] xavivars commented on #71
We're facing this problem now at Softcatalà's APy. Every few hours, some pipeline gets locked, and APy has to be restarted. Maybe we could try to add some robustness here, shutting down the pipeline that got locked and restarting it again...

[2018-12-20 07:50] unhammer commented on #71
and the error message looks similar? "some pipeline" – which language pairs are affected?

[2018-12-20 08:57] xavivars commented on #71
The error message is the same, "stream closed" , and it also shows "already reading".

Yesterday, it was eng-cat. Earlier today, I couldn't check which one, but I'll be monitoring it

[2018-12-20 11:12] Androbin commented on #71
Probable cause 1: The stream is either used in multiple places or multiple times.
This would explain both "stream closed" and "already reading" (_set_read_callback).

Probable cause 2: The connection is closed by the client, not the server.
This would explain "stream closed" but not "already reading".

[2018-12-20 14:31] xavivars commented on #71
This one was actually me. eng-cat was not working (seemed to be stuck, but didn't have access to the locks at that time), so I did a translation hoping to find the log later on. And here you have.

AssertionError: Already reading
500 GET /translate?&markUnknown=yes&langpair=en%7Cca&q=Favor+gran.+ (10.12.15.10) 24.18ms
ERROR:tornado.application:Uncaught exception GET /translate?&markUnknown=yes&lan

[2018-12-23 20:20] xavivars commented on #71
And, as in Apertium's _official_ APy, fra-cat fails every now and then with an **_Already reading_** error...

[2018-12-24 17:01] xavivars commented on #71
I'm pretty sure there's a module in fra-cat that, given a specific input, makes the whole pair to crash. Ideally, we should be able to capture that specific exception and, while we find the underlying root cause, be able to at least restart the pipeline.

[2019-02-19 13:18] ayushjainrksh opened #124 "Nicer landing page"
When running apertium-html-tools using `docker-compose up`, if I try to visit localhost:2737/ it takes me to http://wiki.apertium.org/wiki/Apertium-apy. Visiting this route should show a status page with a link to wiki.

[2019-02-19 20:09] sushain97 commented on #124
This is the intended behavior. I'd rather not have APy serve any complex HTML. Moreover, having the redirect work is already saying that APy is up (i.e. its status).

[2019-02-19 20:40] unhammer commented on #124
I find the redirect a bit annoying and confusing.

I agree it shouldn't serve complex html, but it's not very complex to just say "this is apy, here are the docs"

[2019-02-19 20:42] sushain97 commented on #124
Ideally, it would serve the swagger HTML/JS like stats-service:

http://apertium.projectjj.com/stats-service/

Alas, until then ~10 lines of unstyled HTML is fine with me.

[2019-02-20 09:32] utkarsh-raj commented on #124
Can I be assigned to the task @sushain97 ?

[2019-02-20 09:37] unhammer commented on #124
Anyone's free to create a pull request

[2019-02-20 09:39] utkarsh-raj commented on #124
Great, I will try to reproduce and look into it. Thanks.

[2019-03-04 16:26] ayushjainrksh commented on #107
![whatsapp image 2019-03-04 at 9 48 18 pm](https://user-images.githubusercontent.com/33171576/53746911-282e1200-3ec8-11e9-8d29-5b35515081d9.jpeg)
What I need to do is write a script that runs this code and put langNames in the correct path? Would that solve the issue or I need to do something else?

[2019-03-05 03:22] sushain97 commented on #107
This issue is about simply choosing a better default here: https://github.com/apertium/apertium-apy/blob/master/apertium_apy/apy.py#L185. (only if the `pkg_resources` library is available).

[2019-03-05 06:07] #124 closed

[2019-03-05 18:30] ayushjainrksh commented on #107
So when a user does pip install on linux, it should automatically feed path to langNames.db?

[2019-03-05 19:50] sushain97 commented on #107
Ideally, yes. I think there's a function in `pkg_resources` that purports to take an installed file and give you the system's actual path.

[2019-03-05 19:52] ayushjainrksh commented on #107
So what I need to do is set 'default' to some other path instead of langNames.db

[2019-03-05 19:53] ayushjainrksh commented on #107
What is the function of parse_argument()? How does it work

[2019-03-05 19:54] sushain97 commented on #107
The Python docs cover that.

[2019-03-05 19:55] ayushjainrksh commented on #107
Okay I will go through them

[2019-03-05 21:37] ayushjainrksh opened #126 "Installation fails when building from source"
Asynchronous attribute removed from tornado.web in the latest version causes installation of apertium-apy to fail when installing from source package using pip.

![whatsapp image 2019-03-06 at 2 11 14 am](https://user-images.githubusercontent.com/33171576/53839172-d74c1580-3fbc-11e9-915e-512ad5f5fc77.jpeg)

[2019-03-25 15:29] jonorthwash opened #132 "Combine/de-duplicate turkic.tsv"
Some language name overrides are not being honored.  E.g., beta.apertium.org and turkic.apertium.org both show "Tuvinian" in English for `tyv` despite [the presence of "Tuvan" as an override](https://github.com/apertium/apertium-apy/blob/eb986aa7c7f93bdddbff554f187d8a1bbf7187a7/language_names/turkic.sql#L785).

Also, I don't understand why some Turkic-language overrides are in turkic.sql and some

[2019-03-25 15:52] sushain97 commented on #132
Probably an artifact of pre-split.

Your first question looks like a bug though. Will investigate.

[2019-03-25 19:26] sushain97 commented on #132
I think `turkic.sql` is a file you created with a subset of the other language names just for `turkic.apertium.org`? I can't really recall exactly what the intent was.

Regardless, it has a bunch of duplication with the other files and **is not actually used** in the language names DB compilation:

[code]

[2019-03-25 19:55] #60 closed

[2019-03-26 18:44] jonorthwash commented on #132
I think originally `turkic.sql` was the only overrides.  Perhaps we should move the non-duplicated stuff to the main overrides file and get rid of `turkic.sql`?

[2019-03-26 18:45] sushain97 commented on #132
Good plan. After https://github.com/apertium/apertium-apy/pull/131 gets merged, it can be taken care of.

[2019-03-26 23:13] sushain97 commented on #19
Hmm, I think the referenced line doesn't actually point to a `serverlist` anymore. However, I think the intended line is correct as written (just a bit confusing).

FWIW, no-one is running the gateway but it did work back I wrote it.

[2019-03-26 23:13] #19 closed

[2019-03-26 23:16] sushain97 commented on #126
Fixed in https://github.com/apertium/apertium-apy/commit/eb986aa7c7f93bdddbff554f187d8a1bbf7187a7.

[2019-03-26 23:16] #126 closed

[2019-03-27 02:16] jonorthwash commented on #132
Oh, I thought we'd talked about this before.  Indeed [we have](https://github.com/apertium/apertium-apy/issues/115#issuecomment-443982459).

[2019-03-28 18:35] #115 closed

[2019-03-28 18:36] sushain97 opened #135 "Cleanup manual-fixes.tsv"
Currently, it contains both fixes and additions. Ideally, it would contain only additions.

[2019-03-28 20:07] ayushjainrksh commented on #135
How do I differentiate between fixes and additions in manual-fixes.tsv?

[2019-03-28 21:27] sushain97 commented on #135
Fixes are things that already exist in the manual versions and additions are the rest.

[2019-08-16 13:26] flammie opened #138 "ubuntu packaging and inti scripts"
I tried to upgrade my manual installation to ubuntu packaging as instructed in README:

[code]

The resulting server doesn't seem to be functional:
[code]
The problem seems to be with the locale but I think the startup scripts should handle setting the correct locale?

It seems that the startup script tries to set C.UTF8 locale but somehow doesn't work, using /etc/default/apertium-apy fixed it:
[c

[2019-11-07 22:31] MarcRiera opened #139 "Freeze when using a mode with apertium-anaphora"
When using a mode which includes ```apertium-anaphora``` (such as eng>cat in ```apertium-eng-cat```) and calling it with ```/translate```, the request freezes and no response is given. This is only happening with ```/translate```, ```/pipedebug``` is working as expected. The mode also works without issues outside of ```apertium-apy```.

```apertium-anaphora``` in theory has support for null-flush

[2019-11-08 01:32] jonorthwash opened #140 "missing translation modes"
Currently http://apy.projectjj.com/listPairs returns the following:
[code]

There appear to be a number of translation pairs missing.  For example, there are only four languages that are listed as being able to be translated from English: Catalan, Galician, Spanish, and Esperanto.  There are a number of other stable translation pairs with English which should probably also be listed: Norwegian, Fr

[2019-11-08 07:34] TinoDidriksen commented on #140
A bunch of them is probably just my fault for not packaging and releasing them. eng-cat certainly is. See also https://github.com/apertium/apertium-packaging/issues/18

[2019-11-08 13:33] jonorthwash commented on #140
@TinoDidriksen, eng-cat is one of the few that's actually  there...  And I believe most of the others used to be available, so most of it probably isn't pairs that have yet to be packaged.

[2019-11-08 15:42] khannatanmai commented on #139
@MarcRiera I haven't really used `apertium-apy` which is why I'm not sure why such a problem would occur. I've tested it extensively normally, including the -z mode.

Maybe someone who knows more about `apertium-apy` can indicate why such a thing would happen and I can check if there's such a problem in the code. I'll ask on the irc as well.

[2019-11-10 23:25] sushain97 commented on #140
Yeah, something is probably borked with the apertium.org setup which I think relies on the system packages? Beta still looks like it works FWIW.

[2019-11-11 06:08] TinoDidriksen commented on #140
http://apy.projectjj.com/listPairs is not from packages - it's all `--prefix` installs from tarballs. I would like to change that into a Docker that uses release packages, though.

[2019-11-12 00:04] jonorthwash commented on #140
I should point out that apertium.org is Apertium's main face to the world, so the sooner this is fixed, the better.  People may not otherwise know that certain pairs are available.

[2019-12-01 16:17] TinoDidriksen opened #141 "Multiple _ in variants"
APy can't use the installed cat-por_pt_pre1990.mode because https://github.com/apertium/apertium-apy/blob/master/apertium_apy/mode_search.py#L32 doesn't handle multiple _'s - the final `?` should be a `*`.

[2019-12-07 11:59] ftyers commented on #140
Is this a problem with just doing git pull on xixona ?

[2019-12-07 12:45] TinoDidriksen commented on #140
@sushain97 fixed this 3 days ago, I thought? See apertium-stuff message https://www.mail-archive.com/apertium-stuff@lists.sourceforge.net/msg07822.html

[2019-12-07 14:13] jonorthwash commented on #140
Where is the documentation for how all of this works.  Is @sushain97 the only one who both understands it and has access?

[2019-12-07 14:15] jonorthwash commented on #140
I don't see the other stable language pairs...

![Screenshot_20191207-091510_Chrome](https://user-images.githubusercontent.com/963849/70375966-215a8280-18d2-11ea-976f-10f3e9c07e30.png)

[2019-12-16 07:54] sushain97 commented on #140
AFAIK, that's the whole set of stable language pairs with source lang = eng?

![image](https://user-images.githubusercontent.com/4211838/70888906-37cda180-1f96-11ea-8e7a-6c80ec6f0854.png)

[2019-12-16 17:46] jonorthwash commented on #140
@sushain97, your screenshot shows Welsh, Macedonian, Icelandic, Serbo-Croatian, and Basque—none of which are in my screenshot.

Is there something I'm missing?

[2019-12-16 17:51] sushain97 commented on #140
Those are X -> English, not English -> X.

[2019-12-27 07:42] unhammer commented on #52
(The giellatekno branch has been using this for some years now, may very well be mergable.)

[2019-12-27 07:43] unhammer opened #142 "Travis fails on py3.6 only"
See https://travis-ci.org/apertium/apertium-apy/builds/629740653

[code]

I don't understand why this just happens with 3.6

[2019-12-27 08:05] sushain97 commented on #142
Wow spooky since Py3.6 is backwards compatible? Maybe we were depending on something like dictionary ordering? Pretty curious.

[2020-01-06 20:16] ayushjainrksh commented on #142
I faced this bug last year. I reported the same but didn't create an issue back then as I felt the build was supposed to fail for Py3.6. Anyways I'll have a look at it.

[2020-02-25 14:15] ayushjainrksh opened #145 "Problem with apertium website translation"
When translating apertium.org website from English to some language such as Spanish, the "Translate a webpage" button does not change. It changes in some cases. Any idea why this might be happening?

Translation from English to Spanish:
![bug1](https://user-images.githubusercontent.com/33171576/75254912-1ba47700-5807-11ea-8616-21452f425cb0.png)

Translation from Spanish to Français:
![bug2](https:

[2020-02-28 05:50] sushain97 commented on #145
The interface leaves strings in whatever the last language you selected that has that string is. Not all strings are translated for all available languages.

[2020-02-28 05:51] sushain97 commented on #145
https://github.com/apertium/apertium-html-tools/blob/master/assets/strings/spa.json#L25 is missing.

This also has nothing to do with apy, it's all html-tools.

[2020-02-28 05:51] #145 closed

[2020-05-16 17:43] kartikm opened #148 "Fails to build with Tornado 6.x"
Build of apertium-apy fails with: AttributeError: module 'tornado.web' has no attribute 'asynchronous'

See full log: https://salsa.debian.org/science-team/apertium-apy/-/jobs/744759

[2020-05-16 18:04] sushain97 commented on #148
This is due to pulling in Tornado 6.x which drops this decorator.

[2020-05-17 06:32] kartikm commented on #148
Debian has tornado > 6 in unstable and soon it will be on stable release. Please fix build, so that Apertium can be run in Production systems (for example: ContentTranslation at Wikimedia runs on Debian, soon to be upgraded to latest Debian release.)

[2020-05-21 15:16] jonorthwash commented on #140
I think this isn't an issue.

[2020-05-21 15:16] #140 closed

[2020-05-21 15:19] jonorthwash opened #150 "language names database not automatically found in packaged version"
When running [debian-]packaged version, `langNames.db` is not automatically found, and so `apertium-apy` must be run with `-l /usr/share/apertium-apy/langNames.db`.

[2020-05-21 16:00] jonorthwash opened #151 "set PYTHONUTF8 everywhere"
Suggested by @TinoDidriksen.  See [https://docs.python.org/3/using/cmdline.html#envvar-PYTHONUTF8](https://docs.python.org/3/using/cmdline.html#envvar-PYTHONUTF8).

[2020-06-01 14:56] #148 closed

[2020-06-04 19:22] jonorthwash opened #152 "Unlocalised language names"
The following language codes should be showing up with their native names if not localised into another language, but they're not:
- [ ] cat_iec2017
- [ ] cat_valencia
- [x] eng_US - English (US) (9c78647)
- [ ] fra_eco
- [ ] hbs_BS
- [ ] hbs_HR
- [ ] hbs_SR
- [ ] mlt_translit
- [ ] nno_e
- [ ] oci_aran
- [ ] oci_gascon
- [ ] pan_Arab
- [ ] pan_Guru
- [ ] por_BR
- [ ] por_PTpre1990
- [ ] sma_Mid
-

[2020-06-04 20:26] jonorthwash opened #153 "some two-letter language codes don't seem to be recognised"
The following two-letter language codes seem not provide localisations for their three-letter-coded language names:

- `ln` for `lin`
https://github.com/apertium/apertium-apy/blob/master/language_names/scraped-cldr.tsv#L7876

- `lv` for `lvs`
https://github.com/apertium/apertium-apy/blob/master/language_names/scraped-cldr.tsv#L8296

- `ms` for `zlm`
https://github.com/apertium/apertium-apy/blob/ma

[2020-06-05 03:25] sushain97 commented on #151
This doesn't sound like something APy should do -- it sounds like something users should do?

[2020-06-05 03:29] sushain97 commented on #153
Probably because they're missing in https://github.com/apertium/apertium-apy/blob/master/apertium_apy/utils/__init__.py#L12.

[2020-06-05 07:19] TinoDidriksen commented on #151
On Python 3.7+, APy could check for it and refuse to start if it's not set. Though it does already check for a UTF-8 locale, which is also sufficient.

[2020-06-05 13:05] jonorthwash commented on #151
It currently doesn't run unless it's set, and it does tell the user, so that seems okay.  On the other hand, couldn't it just force it (with a warning) and run if it's not set?

[2020-06-07 21:07] ftyers opened #155 "Support segmentation"
[code]
Maybe with a `/segment` url ?

[2020-06-08 11:06] ftyers commented on #155
For example, in an interface like this it would be cool to have a third column with the segmentations.

![Peek 2020-06-08 12-04](https://user-images.githubusercontent.com/449545/84023660-68f4c080-a980-11ea-87af-bc9d12ff7a25.gif)

[2020-06-10 22:04] Ryu945 opened #156 "More Consistent GET variables?"
I noticed when using /translate, the get variable is "langpair" and it takes a value like "eng | spa".

When using /translateChain, the get variable is "langpairs" and it takes an argument like "eng | spa | fra"

I know the input is technically different but shouldn't the variables be more consistent for usage sake?

Also shouldn't there be some way for the API to pick appropriate middle languages

[2020-06-11 05:24] TinoDidriksen commented on #156
`langpairs` is fine for chained translations. It's no fun having to parse a variable to see what it is, so being a separate variable is best. If there was automatic chain detection, then `langpair` could make sense.

As to that, it's much harder than you think. That means we have to annotate which language family all ISO 639-3 codes are, plus what quality level each of our implementations are, and

[2020-06-11 16:32] Ryu945 commented on #156
I know that if N is the total number of languages then it would take a table of N*(N-1) entries.

Also I noticed you used jpn as an example.   Was that recently added to the database?

[2020-06-14 07:27] sushain97 commented on #150
https://github.com/apertium/apertium-apy/blob/b9455b315f6675f70628bde92cc548798749c7ec/apertium_apy/apy.py#L185

I believe python pkg-utils affords some functionality for finding the right place for these things.

[2020-06-16 14:41] alrevuelta opened #157 "Translation pair spa-ast not working (always empty)"
I'm trying to translate some text between `spa-ast` pairs, but I always get an empty response no matter the text I use.

First of all, these pairs are supported. In `https://beta.apertium.org/apy/listPairs` i can find:
[code]
But when I run the following query:
[code]
I get:
[code]

No matter which text I use, I always get a `translatedText:""`. I have tried using `spa-eng` (spanish/english) using

[2020-06-17 01:27] sushain97 commented on #157
The APy instance at `apertium.org` works fine. The beta API you're hitting runs nightlies so maybe spa-ast is messed up at nightly?

[2020-06-17 02:15] jonorthwash commented on #157
@TinoDidriksen, ↑

[2020-06-17 06:15] TinoDidriksen commented on #157
Fixed by https://github.com/apertium/apertium-spa-ast/commit/949330b2af6541300e1d07dd39f017e069dd39c9

[2020-06-17 06:15] #157 closed

[2020-06-17 08:19] alrevuelta commented on #157
Thank you all, now its working.

[2020-06-29 03:04] Ryu945 opened #158 "Either Wiki or Apertium has a Bug"
In the wiki, it says Malaysian (ms or msa) is a released language.  It also says Norwegian (nor) is a released language.  I updated my server instance tonight and checked the listed pairs and there is not a single pair that uses either of these.

https://wiki.apertium.org/wiki/Main_Page

[2020-06-29 06:19] TinoDidriksen commented on #158
`nor` is a macrolanguage identifier comprised of `nno` and `nob`, both of which are used.

`msa` is also a macrolanguage. The actual language is `zlm`, which is used in 1 pair.

[2020-06-29 06:19] #158 closed

[2020-07-01 18:27] Ryu945 commented on #158
How does one search what language pairs exist for these macrolanguages if it cannot be done in /listpairs ?

[2020-07-01 18:58] TinoDidriksen commented on #158
You should go from code to language, not from language to code. E.g., if you see zlm in /listPairs then check https://iso639-3.sil.org/code/zlm which will tell you it's Malay. If you go the other way and look up Malay, you'll likely wind up on https://iso639-3.sil.org/code/msa which doesn't help you much.

[2020-07-01 19:50] Ryu945 commented on #158
My point was how to do it with a server interface and not have to scrape a website.   Other then scraping https://iso639-3.sil.org/code/zlm or hardcoding it in is there any other way to do it?

[2020-07-01 20:14] ftyers commented on #158
I don't understand the problem. Is it that you would like the English name of a given code? e.g. like on IRC you can query begiak:
[code]
?

[2020-07-01 20:44] ftyers commented on #156
The way to do this right now is basically to use vocabulary coverage over a corpus. This is the best indicator of the quality of a pair.

This is something that could be automated on a rolling basis... download the latest Wikipedia (or Wikinews) dump, calculate the coverage, and store the number in a stats file in the pair.

[2020-07-01 21:47] TinoDidriksen commented on #158
@Ryu945 the /listLanguageNames endpoint will show you all the names we have scraped code->name mappings for, and can even be queried in multiple languages for some of them. But look in the APy code to see how it specifically works.

[2020-07-02 17:39] Ryu945 commented on #156
Is there anyway to calculate this now before something like this gets implemented?   I believe /calcCoverage only does it for the sentence you enter.

[2020-07-02 17:41] ftyers commented on #156
@Ryu945 I can't do it, but you could! :) I don't expect that such a script should take longer than an hour or two to write.

[2020-07-02 17:54] Ryu945 commented on #158
Software has to do this.   A human isn't the one checking some wiki to see the equivalent letter code.   I don't plan on using any scraping type solution which only leaves hard coding it in as I don't see any API to check for macro-language pairs.  I am asking if there is any API solution I can run to check if a pair for a macro-langauge is valid.

[code]
That API appears to only find the name of

[2020-07-02 23:24] jonorthwash opened #159 "documentation includes stats-service commands but doesn't say how to make stats-service interoperate"
At least it seems "calcCoverage" listed at https://wiki.apertium.org/wiki/Apertium-apy#Usage is not standard with APy?

[2020-07-02 23:25] jonorthwash commented on #159
@Ryu945

[2020-07-03 00:06] ftyers opened #160 "Support phonemising"
It would be cool for apy to also support phonemising. Mode `<cod>-phone`.

[2020-07-05 15:44] Ryu945 commented on #159
Apparently /calcCoverage has nothing to do with stat service github like some people thought.

https://github.com/apertium/apertium-stats-service/issues/69

Does anyone know anything about how to use /calcCoverage?

[2020-07-09 04:03] jonorthwash commented on #159
@sushain97, can you help?

[2020-07-09 04:05] sushain97 commented on #159
It's very basic: https://github.com/apertium/apertium-apy/blob/d54b205b075461e9d2ad36b815bf00fc1bdf1df6/apertium_apy/utils/__init__.py#L78-L87. It looks like all it does is look for how many lexical units we were able to analyze.

[2020-07-09 04:05] sushain97 commented on #159
where? I don't see any references to starts-service

[2020-07-09 04:09] jonorthwash commented on #159
Aha, this is coverage of text that it's sent.  There's an example on the wiki, @Ryu945 .

[2020-07-09 04:10] jonorthwash commented on #160
@ftyers, is there a place on the wiki where the various possible modes are documented?  It would be good to have keep APy synchronised with the wiki, synchronised with practice.

[2020-07-09 08:04] ftyers commented on #160
Not really, but I agree that it would be a good idea.

[2020-09-01 15:22] hectoralos commented on #152
A few native names:
cat_valencia - valencià
frp - arpitan
oci_aran - aranés
oci_gascon - gascon
por_BR - português brasileiro
srd - sardu

[2020-09-02 08:36] flammie commented on #152
Here's some more if still missing

kvääni

@rueter @nikopartanen

tlhIngan Hol
 

[2020-09-02 13:49] jonorthwash commented on #152
@hectoralos, should these (or any of the others) have a language name with the variety in parentheses, or are the forms you provide sufficient and clear (and findable from a big list?) on their own?

[2020-09-02 14:24] hectoralos commented on #152
@jonorthwash, gascon is for sure enough, like Valencian for the Southern varieties of the language usually known as Catalan. And I think aranés too.

By the way (a bit off-topic) I want to add the tokens for the Arpitan version of the interface, but I'm not sure in which file should be added the names of the languages and, eventually, the names of the varieties. Where should I add them?

[2020-10-03 20:32] TinoDidriksen commented on #39
Very easily doable with LibreOffice. https://ask.libreoffice.org/en/question/1686/how-to-not-connect-to-a-running-instance/ - run LO with a unique temporary profile folder per conversion.

[2020-10-22 10:22] TinoDidriksen opened #168 "Fails to run with Tornado 6"
Running a translation through APy on a fully updated Debian Sid with Tornado 6.0.4 results in `AttributeError: module 'tornado.gen' has no attribute 'Task'`

(see also https://github.com/apertium/apertium-apy/issues/148, https://github.com/apertium/apertium-apy/pull/149)

[2020-10-30 13:29] #168 closed

[2020-11-05 13:59] #17 closed

[2020-11-14 15:32] ftyers opened #172 "Languages appear as codes"
I just got this in an email and I completely agree:

[2020-12-12 12:52] MarcRiera opened #174 "Locale fallback"
Currently, when connecting to the Apertium API from tools using specific locales such as "eng_US" or "cat_ES", a 400 error ("That pair is not installed") is returned even if a valid but less specific locale could be used. For example, it is impossible to request a translation for "eng_US" to "cat", despite `apertium-eng-cat` providing a mode to translate from "eng" to "cat" that is completely vali

[2021-01-15 15:37] SAP-20 commented on #66
A newbie to open source.Sir,Can i work on the issue??

[2021-01-15 15:42] SAP-20 commented on #44
Can i work on the issue??

[2021-01-15 15:49] TinoDidriksen commented on #44
@SAP-20, you don't have to ask for that. If you want to fix it, just fix it and submit a PR.

[2021-01-15 15:53] TinoDidriksen commented on #66
This problem no longer occurs.

[2021-01-15 15:53] #66 closed

[2021-03-08 20:43] eagad opened #177 "terminate called after throwing an instance of 'Exception' what(): Error: Malformed input stream."
I am running apertium analyzer from a python script. I get this exception that terminates the script immediately. I am not able to catch it inside python, it seems like it's happenning in c++ and doesn't get handle, how can I handle it?

To replicate the issue:

[2021-03-08 20:45] mr-martian commented on #177
It's because you have an unescaped `/` in your input string.

[2021-03-08 20:51] eagad commented on #177
How would you escape it?

throws the same exception

[2021-03-08 20:52] mr-martian commented on #177
`'Hi\\/Hello'`

the escape has to get to the underlying pipe

[2021-03-08 20:55] eagad commented on #177
This still didn't work

Also, is there specific list for characters that need to be escaped?

[2021-03-08 21:00] mr-martian commented on #177
https://wiki.apertium.org/wiki/Apertium_stream_format

[2021-03-08 21:01] ftyers commented on #177
Try [adding another backslash](https://xkcd.com/1638/) ? :)

[2021-03-08 21:14] eagad commented on #177
seems that backslashes are only interpreted as backslashes here...
Any ideas other than removing all the forward slashes from the text I trying to process?

[2021-03-08 22:47] mr-martian commented on #177
Probably what this indicates is that there should be a way to have `analyse()` invoke deformatters if there isn't already.

[2021-03-08 22:49] mr-martian commented on #177
Also, I think this should actually be on https://github.com/apertium/apertium-python but I for some reason am not able to transfer it there

[2021-05-29 09:43] TinoDidriksen opened #179 "Mixed language documents/pages"
https://github.com/apertium/apertium-webext/issues/2 made me think of how we can handle mixed language content.

In GramTrans, part of the translation pipe for documents (including websites) is a detection program that discards paragraphs not in the expected source language. Discarding means that the final "replace original with translation" step simply does nothing for that paragraph, which leave

[2021-08-25 09:39] TinoDidriksen opened #180 "Can't start without prefs"
Trying to start APy without a prefs file results in:

[code]

[2021-12-09 15:23] #141 closed

[2021-12-09 15:23] #174 closed

[2021-12-10 15:51] jonorthwash commented on #172
Actually, looks like this is solved already?  Feel free to reopen if not.
![Screenshot from 2021-12-10 10-50-02](https://user-images.githubusercontent.com/963849/145602291-8a3ef13c-27a8-4218-9479-2ab7f543207a.png)

[2021-12-10 15:51] #172 closed

[2021-12-11 22:08] MarcRiera opened #186 "Pipedebug not working"
`/pipedebug` seems broken. Any request returns error 500, even when `/translate` works. I get the following output in the terminal:

[code]

[2021-12-21 06:24] XDRAGON2002 commented on #47
Hey, I am new to open source but would like to work on this issue, could someone guide me as to how I would go about accomplishing this ?

[2021-12-21 07:14] TinoDidriksen commented on #47
Change https://github.com/apertium/apertium-apy/blob/master/apertium_apy/handlers/translate_doc.py to detect the file types in Python instead of via subprocess. Probably easiest to do via [python-magic](https://github.com/ahupp/python-magic).

[2021-12-21 07:23] XDRAGON2002 commented on #47
Great, I will start with this then.

[2021-12-21 11:03] XDRAGON2002 commented on #47
As far as I could understand, currently we are looping over mimetype/xdg-mime/file and whichever is present on the system is being used to find the mime type (like a failsafe option), so should I remove those three now that python magic would be used in their place ?

[2021-12-21 11:05] XDRAGON2002 commented on #47
Similarly should I also remove the looping part ? lines : 63 - 71 to be exact.

[2021-12-25 09:56] XDRAGON2002 commented on #47
@TinoDidriksen opened PR #190 that fixes this issue.

[2022-01-03 01:10] #186 closed

[2022-01-03 21:29] sushain97 opened #198 "Automatically propagate new tags/releases to GHCR and PyPi"
cc @xavivars

[2022-02-28 14:09] unhammer opened #200 "Preference selections need to apply to doc+web translation too"
cf https://github.com/apertium/apertium-html-tools/issues/439